

<a href="https://www.facebook.com/Blain.Noone" class="fa fa-facebook"></a>
<a href="https://www.linkedin.com/in/blain-noone-03177622b/" class="fa fa-linkedin"></a>
<a href="https://www.instagram.com/zinxvalkyria/?hl=en" class="fa fa-instagram"></a>
<a href="https://github.com/ZinxValkyria" class="fa fa-github"></a>
 <p class="text-center text-muted">&copy; Copyright 2023 Blain Noone </p>