html{
    background-image:url("/static/guitar.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro{
    font-family: 'Ace Sans', sans-serif;  
                                            
}
h1{
    font-family: 'Poppins', sans-serif;}
.navbar{
    position: sticky;
}
.container{
    opacity: 0.8;
}
.nav-link{
    font-family: 'Poppins', sans-serif;}
button{
    padding:5px;
    border-radius: 10px;
    box-shadow: 20px;
    text-align: center;
}