<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.cdnfonts.com/css/boogienightsnf" rel="stylesheet">   
  <link href="https://fonts.cdnfonts.com/css/ace-sans" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <!DOCTYPE html>
    <html>
    <head>
      <title>Biography</title>
      <link rel="stylesheet" href="style.css">
    </head>
    <body>