<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.cdnfonts.com/css/boogienightsnf" rel="stylesheet">   
  <link href="https://fonts.cdnfonts.com/css/ace-sans" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
      <h1>Biography</h1>
     </br>
      <p>Learning to play the guitar is a journey that has captivated countless individuals throughout history. From strumming the first chords to mastering intricate solos, it is an art form that combines technical skill, creative expression, and a deep connection to the instrument. For many, myself included, the path of learning the guitar begins with a self-guided exploration fueled by curiosity, determination, and a desire to create music.</p><br>
      As a self-taught guitarist, my musical journey has been an adventure of discovery and growth. With a guitar in hand and a world of online resources at my fingertips, I embarked on this voyage armed with passion and a hunger to unravel the secrets of this enchanting instrument. Guided by the timeless melodies of my favorite artists, I delved into the intricate world of chords, scales, and rhythms, piecing together the puzzle of music theory one lesson at a time.
      <div class="flex-container">
        <img src="/static/pic1.jpg" alt="Image 1" class="item">
        <img src="/static/pic2.jpg" alt="Image 2" class="item">
        <img src="/static/pic3.jpg" alt="Image 3" class="item">
        <img src="/static/pic5.jpg" alt="Image 4" class="item">
      </div></br>
      <p>Learning the guitar is not solely about technical proficiency or emulating others. It is a deeply personal and introspective journey, one that unveils layers of self-expression and allows me to communicate emotions that words alone cannot capture. It is an instrument through which I channel my thoughts, experiences, and aspirations, pouring them into every strum, bend, and slide.

        With each passing day, I continue to unravel the mysteries of the guitar, refining my skills and broadening my musical horizons. Alongside my self-teaching endeavors, I eagerly seek opportunities to collaborate with fellow musicians, jamming together, and sharing in the joy of creating something greater than the sum of its parts.</p>
    
      Aside from giving various lessons to people, I have a deep love for the metal genre and have recently started to write and record some music. 
    Also, I will be posting cover and lesson videos on my Instagram channel in the coming weeks</div>
      <style>
      .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .item {
        flex: 1;
  margin: 10px;
  width: 200px; /* Adjust the desired width */
  height: 200px; /* Adjust the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
      }
      </style>