<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.cdnfonts.com/css/boogienightsnf" rel="stylesheet">   
  <link href="https://fonts.cdnfonts.com/css/ace-sans" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <img src="/static/me.jpg" alt="pic" class="pic">
  <div class = "intro">
      <section id="about">
        <h2>About Me</h2>
        <p>Hi fellow musicaians, I am an experienced guitar player who has perfomed for numerous bands over a number of years during my 20 years playing music.
           
          Whether you are a beginner or an intermediate player, we will carry out a lesson plan that will help you reach your individual goals based on your skill level.</p>
        <p>My lessons are personalized to your skill level and interests, and I offer both in-person and online lessons to accommodate your schedule.</p>
      </section>
  
  <section id="contact">
    <h2>Contact</h2>
    <form method="post" action="submit-form.php">
      <label for="name">Name&nbsp&nbsp&nbsp&nbsp&nbsp</label>
      <input type="text" id="name" name="name" required><br>
      <label for="email">Email &nbsp&nbsp&nbsp&nbsp&nbsp</label>
      <input type="email" id="email" name="email" required><br>
      <label for="message">Message&nbsp</label>
      <textarea id="message" name="message" required></textarea><br>
      <button type="submit">Send Message</button>
    </form>
  </section>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<style>
.pic {
    display:inline;
    float:right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
</style>