<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.cdnfonts.com/css/boogienightsnf" rel="stylesheet">   
  <link href="https://fonts.cdnfonts.com/css/ace-sans" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Introduction</h1>
    <img src="/static/me.jpg" alt="pic" class="pic">
  </div>
  <div class = "intro">
  <p >Welcome to my website! I have always been passionate about computers since a young age.
     <br>By the time I was 15, I had taught myself the fundamentals of PC hardware and was already building desktop PCs.
     <br> During my time studying software engineering and web design at A.I.T, I was exposed to various languages, technologies, and frameworks. This led me to create numerous projects, such as websites, mobile apps, GUIs, and more.<br> Currently, I am a DevOps apprentice with JDs and UA92. As I progress through my DevOps journey, I will be creating various projects, which will be updated on my Portfolio page with links, examples, and documentation.
  </p>
  
  <section id="contact">
    <h2>Contact Me</h2>
    <form method="post" action="submit-form.php">
      <label for="name">Name&nbsp&nbsp&nbsp&nbsp&nbsp</label>
      <input type="text" id="name" name="name" required><br>
      <label for="email">Email &nbsp&nbsp&nbsp&nbsp&nbsp</label>
      <input type="email" id="email" name="email" required><br>
      <label for="message">Message&nbsp</label>
      <textarea id="message" name="message" required></textarea><br>
      <button type="submit">Send Message</button>
    </form>
  </section>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<style>
.pic {
    display:inline;
    float:right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
</style>