<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <img src="/static/me.jpg" alt="pic" class="pic">
  <div class = "intro">
      <section id="about">
        <h2>About Me</h2>
        <p>Hi fellow musicians, I am an experienced guitar player who has perfomed for numerous bands over a number of years during my 20 years playing music
          I specialize in Progressive,heavy, and many sub genres of metal music.
          Ive played in various bands over the years as both a rhythm and lead guitarist and I even have experience on stage playin bass.
           
          It can be very daunting when picking up the guitar for the first as Its hard to know where to start, interms of gear, quality, cables, equipment, tones,signals etc.
          I know first hand how intimadating this all sounds because i taught myself the hard way. I thought i would share my experiences with others and use my knowledge to teach those what I wouldve found beneficial when I started.
          Whether you are a beginner or an intermediate player, we will carry out a lesson plan that will help you reach your individual goals based on your skill level.</p>
        <p>My lessons are personalized to your skill level and interests, and I offer both in-person and online lessons to accommodate your schedule.</p>
      </section>
      <form action="services">
        <input type="submit" value="Services and pricing" /></form>

        <form action="bio">
          <input type="submit" value="Biography" /></form>

      <form action="contact">
        <input type="submit" value="Contact Me" /></form>
    
  
  
      
  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<style>
.pic {
    display:inline;
    float:right;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
</style>